* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #D7D7D7;
    color: #2EAD97;
    display: grid;
    grid-auto-columns: 1fr 2fr 1fr;
    grid-template-areas: "Parte1 Parte2 Parte3";
    gap: 10px;
    height: 140px;
}

#Part1 {
    grid-area: Parte1;
    height: 140px;
}

#LogoTipo {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin-top: 80px;
    margin-left: 10px;
}

#Lado {
    transform: rotate(45deg);
    position: absolute;
    margin-left: 230px;
    margin-top: 4px;
    font-size: 28px;
    font-weight: bold;
}


#Pesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    grid-area: Parte2;
    height: 140px;
}

#BarraPesquisa {
    width: 80%;
    border-radius: 30px;
    height: 20px;
    margin-left: 8%;
    padding: 20px;
    border: none;
}

#Lupa {
    width: 40px;
    height: 40px;
}
#Voltar{
    background: transparent;
    border: none;
    color: #2EAD97;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 10%;
}
main {
    background-color: #A5A3A3;
    height: 800px;
}

#Form {
    width: 600px;
    height: 700px;
    margin-left: 33%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#ImgAvatar {
    width: 180px;
    height: 150px;
    margin-left: 12%;
}

#Acessar {
    margin-left: -4%;
    margin-bottom: 4%;
    width: 270px;
}

.SubContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;  
}
.SubContainer input{
    width: 80%;
    border-radius: 30px;
    padding: 6px;
    border: none;
}

#ParteInformacoes {
    width: 90%;
    margin-left: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.05fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "LabelCPF LabelDTN ImgCell LabelCell"
        "txtCpf txtDTN ImgCell txtCell";
}

#InfoLabelCPF {
    grid-area: LabelCPF;
    margin-left: 22%;
    margin-top: 10px;
}

#InfoLabelDTN {
    grid-area: LabelDTN;
    margin-left: 10%;
}

#InfoImgCell {
    grid-area: ImgCell;
    margin-top: 50%;
    margin-left: 20%;
}

#InfoLabelCell {
    grid-area: LabelCell;
    margin-left: 10%;
}

#InfotxtCpf {
    grid-area: txtCpf;
}

#InfotxtDTN {
    grid-area: txtDTN;
}


#InfotxtCell {
    grid-area: txtCell;
}

#ImgCell {
    width: 40px;
    height: 40px;
}

#Cpf {
    width: 128px;
    margin-left: 22%;
    border-radius: 30px;
    border: none;
    padding: 6px;
    margin-top: 1px;
}

#Data {
    width: 140px;
    margin-left: 14%;
    padding: 6px;
    border-radius: 10px;
    border: none;
}

#Cell {
    width: 140px;
    margin-left: 2%;
    border-radius: 30px;
    border: none;
    padding: 6px;
}

#PerguntaPronome {
    margin-left: 14%;
  }
  
  #PerguntaTipoRelacao {
    margin-left: 20%;
  }
  
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  input[type="radio"] + label {
    display: inline-block;
    padding: 6px 12px;
    margin: 4px 50px;
    background-color: #e9e9e9;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type="radio"]:checked + label {
    background-color: #333;
    color: #fff;
  }
  
#BtnCadastro{
    color: white;
    background-color: #239682;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
}
footer {
    display: flex;
    align-items: center;
    height: 100px;
}

#Links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#Links li {
    margin-right: 40px;
    margin-left: 10px;
}

#Links a {
    text-decoration: underline #7B6C6C;
    color: #7B6C6C;
    background-color: #FFFFFF;
}

#IconsFoot {
    display: flex;
    margin-left: auto;
    align-items: flex-start;
}

#ImgFoot {
    display: grid;
    width: 200px;
    grid-template-rows: 0.4fr 0.4fr;
    grid-template-columns: 0.4fr 0.4fr;
    grid-template-areas:
        "Twitter TikTok"
        "Pinterest Insta";
    grid-gap: 5px;
}

#IconInsta {
    width: 50px;
    height: 40px;
    grid-area: Insta;
}

#IconTikTok {
    width: 46px;
    height: 40px;
    grid-area: TikTok;
}

#IconPinterest {
    width: 60px;
    height: 40px;
    grid-area: Pinterest;
}

#IconTwitter {
    width: 60px;
    height: 40px;
    grid-area: Twitter;
}